@tailwind base;
@tailwind components;
@tailwind utilities;

@import './typography.css';

html {
  scroll-behavior: smooth;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

:root {
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
}

@layer base {

  html {
    scroll-behavior: smooth;
  }

  .image-container {
    width: 50vw;
    height: 50vh;
    position: relative;
  }
  .image-container .image {
    width: 100%;
    height: 100%;
    position: relative !important;
    object-fit: cover;
  }

  .prose :where(ul li):not(:where([class~='not-prose'] *))::marker {
    font-size: 24px;
  } 

  .glow:hover {
      transform: translateY(-3px);
  }

  .glow:active {
      transform: translateY(-1px);
  }

  .glow::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      z-index: -1;
      transition: all .1s;
  }

  .glow:hover::after {
      transform: scaleX(1.2) scaleY(1.4);
      opacity: 0;
  }

  .moveUp {
      animation: moveInBottom 1s ease-out;
      animation-fill-mode: backwards;
  }

  @keyframes moveInBottom {
      0% {
          opacity: 0;
          transform: translateY(20px);
      }

      100% {
          opacity: 1;
          transform: translateY(0px);
      }
  }

  .pulse:hover {
    animation: pulse 1s infinite;
    animation-fill-mode: backwards;
  }

  @keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(0.95, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  details > summary {
    list-style: none;
  }

  .full-width {
    left: 50%;
    right: 50%;
    margin-left: -49vw;
    margin-right: -49vw;
    max-width: 98vw;
    position: relative;
    width: 98vw;
  }
  
  @media screen and (min-width: 1440px) {
    .full-width {
      left: unset;
      right: unset;
      max-width: 1440px;
      margin-left: calc(50% - 720px);
      margin-right: calc(50% - 720px);
    }
  }

}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, #C6CC005E, #C6CC00, #C6CC00);
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 3px, 100% 3px;
  }
  .animated-underline-contact {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, #c6cc005E, #C6CC00, #C6CC00);
    background-size: 100% 6px, 0 6px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  .animated-underline-contact:hover,
  .animated-underline-contact:focus-visible {
    background-size: 0 6px, 100% 6px;
  }

  .path-0{
    animation:pathAnim-0 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,700 C 0,700 0,140 0,140 C 49.21579267019682,151.61541403328968 98.43158534039364,163.23082806657936 135,175 C 171.56841465960636,186.76917193342064 195.48945130862228,198.69210176697223 226,177 C 256.5105486913777,155.30789823302777 293.6106094251172,100.0007648655317 343,88 C 392.3893905748828,75.9992351344683 454.06811099090896,107.30483877090097 500,137 C 545.931889009091,166.69516122909903 576.1169466112472,194.7798800508645 611,178 C 645.8830533887528,161.2201199491355 685.4641025641025,99.57564102564102 729,87 C 772.5358974358975,74.42435897435898 820.0266431323427,110.91755584657139 861,128 C 901.9733568676573,145.0824441534286 936.429324906527,142.7541355880734 972,136 C 1007.570675093473,129.2458644119266 1044.2560572415493,118.06590180113497 1087,127 C 1129.7439427584507,135.93409819886503 1178.546446127275,164.98225720738674 1216,157 C 1253.453553872725,149.01774279261326 1279.55815824935,104.00506936931806 1315,95 C 1350.44184175065,85.99493063068194 1395.220920875325,112.99746531534097 1440,140 C 1440,140 1440,700 1440,700 Z");
    }
    25%{
      d: path("M 0,700 C 0,700 0,140 0,140 C 44.63384672322498,139.10165784129515 89.26769344644995,138.2033156825903 130,129 C 170.73230655355005,119.79668431740971 207.56307293742526,102.28839511093399 245,95 C 282.43692706257474,87.71160488906601 320.480014803849,90.64310387367382 361,111 C 401.519985196151,131.35689612632618 444.51686784717856,169.13918939437073 488,158 C 531.4831321528214,146.86081060562927 575.4525138074363,86.80013854884322 618,89 C 660.5474861925637,91.19986145115678 701.6730769230768,155.66025641025638 741,182 C 780.3269230769232,208.33974358974362 817.8551785002563,196.55883581013117 846,178 C 874.1448214997437,159.44116418986883 892.9062090758981,134.10440034921902 937,129 C 981.0937909241019,123.89559965078098 1050.519985196151,139.02356279299286 1092,142 C 1133.480014803849,144.97643720700714 1147.013850139498,135.80134847880962 1178,143 C 1208.986149860502,150.19865152119038 1257.4246142458576,173.77104329176868 1304,176 C 1350.5753857541424,178.22895670823132 1395.287692877071,159.11447835411565 1440,140 C 1440,140 1440,700 1440,700 Z");
    }
    50%{
      d: path("M 0,700 C 0,700 0,140 0,140 C 40.211512839492116,112.13555865550683 80.42302567898423,84.27111731101367 118,103 C 155.57697432101577,121.72888268898633 190.5194101235552,187.05108941145212 226,192 C 261.4805898764448,196.94891058854788 297.499333826795,141.5245250431779 339,132 C 380.500666173205,122.47547495682211 427.48325456926483,158.85081041583632 469,175 C 510.51674543073517,191.14918958416368 546.5676478961453,187.07223329347684 590,175 C 633.4323521038547,162.92776670652316 684.2461538461538,142.8602564102564 730,152 C 775.7538461538462,161.1397435897436 816.4477367192393,199.48674106549754 851,191 C 885.5522632807607,182.51325893450246 913.962899276889,127.19277932775341 951,107 C 988.037100723111,86.80722067224659 1033.700666173205,101.74214162348878 1080,121 C 1126.299333826795,140.25785837651122 1173.2344360302907,163.83865417829148 1211,169 C 1248.7655639697093,174.16134582170852 1277.361589705631,160.90324166334528 1314,153 C 1350.638410294369,145.09675833665472 1395.3192051471844,142.54837916832736 1440,140 C 1440,140 1440,700 1440,700 Z");
    }
    75%{
      d: path("M 0,700 C 0,700 0,140 0,140 C 47.46530490235152,123.7381483801173 94.93060980470304,107.47629676023459 130,114 C 165.06939019529696,120.52370323976541 187.74286568353926,149.83296133917895 225,168 C 262.25713431646074,186.16703866082105 314.0979274611399,193.19185788304958 357,188 C 399.9020725388601,182.80814211695042 433.8654244719012,165.39960712862268 470,165 C 506.1345755280988,164.60039287137732 544.4403746512555,181.20971360245971 586,179 C 627.5596253487445,176.79028639754029 672.373076923077,155.76153846153846 712,129 C 751.626923076923,102.23846153846154 786.067317656437,69.74413255138644 829,88 C 871.932682343563,106.25586744861356 923.3576524511757,175.2619313329158 966,173 C 1008.6423475488243,170.7380686670842 1042.50207253886,97.20814211695043 1079,93 C 1115.49792746114,88.79185788304957 1154.6340573933837,153.90550019928256 1190,164 C 1225.3659426066163,174.09449980071744 1256.9616978876045,129.16985708591926 1298,116 C 1339.0383021123955,102.83014291408074 1389.5191510561976,121.41507145704037 1440,140 C 1440,140 1440,700 1440,700 Z");
    }
    100%{
      d: path("M 0,700 C 0,700 0,140 0,140 C 49.21579267019682,151.61541403328968 98.43158534039364,163.23082806657936 135,175 C 171.56841465960636,186.76917193342064 195.48945130862228,198.69210176697223 226,177 C 256.5105486913777,155.30789823302777 293.6106094251172,100.0007648655317 343,88 C 392.3893905748828,75.9992351344683 454.06811099090896,107.30483877090097 500,137 C 545.931889009091,166.69516122909903 576.1169466112472,194.7798800508645 611,178 C 645.8830533887528,161.2201199491355 685.4641025641025,99.57564102564102 729,87 C 772.5358974358975,74.42435897435898 820.0266431323427,110.91755584657139 861,128 C 901.9733568676573,145.0824441534286 936.429324906527,142.7541355880734 972,136 C 1007.570675093473,129.2458644119266 1044.2560572415493,118.06590180113497 1087,127 C 1129.7439427584507,135.93409819886503 1178.546446127275,164.98225720738674 1216,157 C 1253.453553872725,149.01774279261326 1279.55815824935,104.00506936931806 1315,95 C 1350.44184175065,85.99493063068194 1395.220920875325,112.99746531534097 1440,140 C 1440,140 1440,700 1440,700 Z");
    }
  }

  .path-1{
    animation:pathAnim-1 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-1{
    0%{
      d: path("M 0,700 C 0,700 0,280 0,280 C 44.961503349845316,275.6318453567158 89.92300669969063,271.26369071343163 131,278 C 172.07699330030937,284.73630928656837 209.2694765510828,302.5770825029893 249,307 C 288.7305234489172,311.4229174970107 330.9990870959783,302.42797927461135 369,283 C 407.0009129040217,263.57202072538865 440.73417506500414,233.7110003985652 476,230 C 511.26582493499586,226.2889996014348 548.0642126440054,248.72801913112795 590,253 C 631.9357873559946,257.27198086887205 679.0089743589743,243.3769230769231 719,243 C 758.9910256410257,242.6230769230769 791.8998899200972,255.76428856117968 832,273 C 872.1001100799028,290.2357114388203 919.3914659606369,311.56592267835794 968,305 C 1016.6085340393631,298.43407732164206 1066.534246237355,263.9720207253886 1099,249 C 1131.465753762645,234.0279792746114 1146.4715490899428,238.5459944200877 1178,254 C 1209.5284509100572,269.4540055799123 1257.5795574028734,295.84400159426065 1304,302 C 1350.4204425971266,308.15599840573935 1395.2102212985633,294.0779992028697 1440,280 C 1440,280 1440,700 1440,700 Z");
    }
    25%{
      d: path("M 0,700 C 0,700 0,280 0,280 C 35.928406308717186,251.37078422441118 71.85681261743437,222.74156844882233 106,230 C 140.14318738256563,237.25843155117767 172.50115583897968,280.40451042912184 219,284 C 265.4988441610203,287.59548957087816 326.1385640266469,251.64038983469035 376,238 C 425.8614359733531,224.35961016530965 464.94458805443253,233.03393023211677 495,243 C 525.0554119455675,252.96606976788323 546.0830837556226,264.22388923684264 588,271 C 629.9169162443774,277.77611076315736 692.7230769230769,280.0705128205128 733,280 C 773.2769230769231,279.9294871794872 791.0246085520697,277.49405948110615 826,281 C 860.9753914479303,284.50594051889385 913.1784888686443,293.9532492550627 952,293 C 990.8215111313557,292.0467507449373 1016.261435973353,280.692943498643 1062,280 C 1107.738564026647,279.307056501357 1173.7757672379437,289.27497675036534 1222,278 C 1270.2242327620563,266.72502324963466 1300.6354950748732,234.2071494998956 1334,231 C 1367.3645049251268,227.7928505001044 1403.6822524625634,253.8964252500522 1440,280 C 1440,280 1440,700 1440,700 Z");
    }
    50%{
      d: path("M 0,700 C 0,700 0,280 0,280 C 33.550205925335476,297.9763090967754 67.10041185067095,315.95261819355085 113,307 C 158.89958814932905,298.04738180644915 217.14855852265174,262.1658363225721 258,264 C 298.85144147734826,265.8341636774279 322.30535405872195,305.3840365161609 351,317 C 379.69464594127805,328.6159634838391 413.6300252424606,312.2980176127844 462,296 C 510.3699747575394,279.7019823872156 573.174544971436,263.42389303270136 618,273 C 662.825455028564,282.57610696729864 689.6717948717949,318.0064102564102 731,318 C 772.3282051282051,317.9935897435898 828.1382755413846,282.55046594165765 861,280 C 893.8617244586154,277.44953405834235 903.7751029626675,307.7917259769591 945,314 C 986.2248970373325,320.2082740230409 1058.761312607945,302.28263015050584 1102,282 C 1145.238687392055,261.71736984949416 1159.1796466055532,239.07775342101763 1186,247 C 1212.8203533944468,254.92224657898237 1252.5201009698421,293.4063561654236 1297,304 C 1341.4798990301579,314.5936438345764 1390.739949515079,297.2968219172882 1440,280 C 1440,280 1440,700 1440,700 Z");
    }
    75%{
      d: path("M 0,700 C 0,700 0,280 0,280 C 32.950241037028604,282.05183245079616 65.90048207405721,284.10366490159237 102,293 C 138.0995179259428,301.89633509840763 177.34831274079977,317.63717284442674 227,330 C 276.65168725920023,342.36282715557326 336.7062669627437,351.3476437207007 375,329 C 413.2937330372563,306.6523562792993 429.82661940822555,252.9722522727704 464,255 C 498.17338059177445,257.0277477272296 549.987255404354,314.76334718821767 602,319 C 654.012744595646,323.23665281178233 706.224358974359,273.97435897435895 740,266 C 773.775641025641,258.02564102564105 789.1153086982102,291.3392169143464 821,291 C 852.8846913017898,290.6607830856536 901.3144062328001,256.6687733682552 954,237 C 1006.6855937671999,217.33122663174478 1063.6270663705895,211.98568961263265 1100,232 C 1136.3729336294105,252.01431038736735 1152.1773282848415,297.38846818121425 1185,307 C 1217.8226717151585,316.61153181878575 1267.6636204900453,290.46043766251023 1313,280 C 1358.3363795099547,269.53956233748977 1399.1681897549774,274.7697811687449 1440,280 C 1440,280 1440,700 1440,700 Z");
    }
    100%{
      d: path("M 0,700 C 0,700 0,280 0,280 C 44.961503349845316,275.6318453567158 89.92300669969063,271.26369071343163 131,278 C 172.07699330030937,284.73630928656837 209.2694765510828,302.5770825029893 249,307 C 288.7305234489172,311.4229174970107 330.9990870959783,302.42797927461135 369,283 C 407.0009129040217,263.57202072538865 440.73417506500414,233.7110003985652 476,230 C 511.26582493499586,226.2889996014348 548.0642126440054,248.72801913112795 590,253 C 631.9357873559946,257.27198086887205 679.0089743589743,243.3769230769231 719,243 C 758.9910256410257,242.6230769230769 791.8998899200972,255.76428856117968 832,273 C 872.1001100799028,290.2357114388203 919.3914659606369,311.56592267835794 968,305 C 1016.6085340393631,298.43407732164206 1066.534246237355,263.9720207253886 1099,249 C 1131.465753762645,234.0279792746114 1146.4715490899428,238.5459944200877 1178,254 C 1209.5284509100572,269.4540055799123 1257.5795574028734,295.84400159426065 1304,302 C 1350.4204425971266,308.15599840573935 1395.2102212985633,294.0779992028697 1440,280 C 1440,280 1440,700 1440,700 Z");
    }
  }
  
  .path-2{
    animation:pathAnim-2 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-2{
    0%{
      d: path("M 0,700 C 0,700 0,420 0,420 C 44.31989029968304,399.24059291313176 88.63978059936608,378.4811858262636 133,375 C 177.36021940063392,371.5188141737364 221.76076790221867,385.3158496080776 257,405 C 292.2392320977813,424.6841503919224 318.31714779175917,450.25541574142613 352,447 C 385.68285220824083,443.74458425857387 426.97064093074454,411.66248742621804 468,419 C 509.02935906925546,426.33751257378196 549.8002884852626,473.09463455370195 596,466 C 642.1997115147374,458.90536544629805 693.8282051282051,397.95897435897433 737,389 C 780.1717948717949,380.04102564102567 814.8868910019168,423.0694680104007 846,435 C 877.1131089980832,446.9305319895993 904.6242308641274,427.76315359942305 947,427 C 989.3757691358726,426.23684640057695 1046.6161855415742,443.87791759190725 1093,437 C 1139.3838144584258,430.12208240809275 1174.911026969576,398.725176032948 1207,388 C 1239.088973030424,377.274823967052 1267.739706580121,387.2213782763006 1306,396 C 1344.260293419879,404.7786217236994 1392.1301467099395,412.3893108618497 1440,420 C 1440,420 1440,700 1440,700 Z");
    }
    25%{
      d: path("M 0,700 C 0,700 0,420 0,420 C 34.92624266924784,419.1267750384331 69.85248533849568,418.2535500768662 109,430 C 148.14751466150432,441.7464499231338 191.51630131526508,466.1125747309685 237,465 C 282.4836986847349,463.8874252690315 330.0823094004441,437.29615099925985 374,433 C 417.9176905995559,428.70384900074015 458.1544610829585,446.70282127199226 497,446 C 535.8455389170415,445.29717872800774 573.2998462677219,425.89256391277115 604,409 C 634.7001537322781,392.10743608722885 658.6461538461539,377.72692307692313 703,392 C 747.3538461538461,406.27307692307687 812.1155383476627,449.1997437795365 854,472 C 895.8844616523373,494.8002562204635 914.8916927631952,497.47410180493085 947,469 C 979.1083072368048,440.52589819506915 1024.3176905995558,380.9038490007402 1072,370 C 1119.6823094004442,359.0961509992598 1169.837544838581,396.91050219210837 1211,412 C 1252.162455161419,427.08949780789163 1284.3321300461198,419.45414223082616 1321,417 C 1357.6678699538802,414.54585776917384 1398.83393497694,417.2729288845869 1440,420 C 1440,420 1440,700 1440,700 Z");
    }
    50%{
      d: path("M 0,700 C 0,700 0,420 0,420 C 44.42956119873217,394.8902019396838 88.85912239746435,369.78040387936755 135,383 C 181.14087760253565,396.21959612063245 228.9930716088747,447.7685864222134 260,468 C 291.0069283911253,488.2314135777866 305.16859116703677,477.14525043177895 342,469 C 378.83140883296323,460.85474956822105 438.3325637229782,455.6504118506708 488,446 C 537.6674362770218,436.3495881493292 577.5011539410505,422.2531021655374 616,429 C 654.4988460589495,435.7468978344626 691.6628205128204,463.33717948717947 734,472 C 776.3371794871796,480.66282051282053 823.8475640076679,470.3981798857447 858,461 C 892.1524359923321,451.6018201142553 912.9469234565088,443.07010096984186 955,441 C 997.0530765434912,438.92989903015814 1060.3647421662968,443.32141623488775 1100,425 C 1139.6352578337032,406.67858376511225 1155.5941078783048,365.64423409060714 1186,370 C 1216.4058921216952,374.35576590939286 1261.2588263204843,424.1016474026837 1306,440 C 1350.7411736795157,455.8983525973163 1395.3705868397578,437.94917629865813 1440,420 C 1440,420 1440,700 1440,700 Z");
    }
    75%{
      d: path("M 0,700 C 0,700 0,420 0,420 C 39.7924557307977,440.7039979881949 79.5849114615954,461.40799597638977 127,466 C 174.4150885384046,470.59200402361023 229.45280988441607,459.0720140826358 262,453 C 294.54719011558393,446.9279859173642 304.6038490007402,446.30394769306685 342,432 C 379.3961509992598,417.69605230693315 444.1317941126231,389.7121951450967 485,393 C 525.8682058873769,396.2878048549033 542.8689745487674,430.84727172654635 581,435 C 619.1310254512326,439.15272827345365 678.3923076923077,412.8987179487179 724,395 C 769.6076923076923,377.1012820512821 801.5617946820021,367.55785647858187 843,380 C 884.4382053179979,392.44214352141813 935.3605135796845,426.86985613695464 972,446 C 1008.6394864203155,465.13014386304536 1030.99615099926,468.96271897359986 1074,456 C 1117.00384900074,443.03728102640014 1180.6548824232761,413.27926796864614 1220,398 C 1259.3451175767239,382.72073203135386 1274.3843193076352,381.9202091518154 1307,388 C 1339.6156806923648,394.0797908481846 1389.8078403461823,407.03989542409226 1440,420 C 1440,420 1440,700 1440,700 Z");
    }
    100%{
      d: path("M 0,700 C 0,700 0,420 0,420 C 44.31989029968304,399.24059291313176 88.63978059936608,378.4811858262636 133,375 C 177.36021940063392,371.5188141737364 221.76076790221867,385.3158496080776 257,405 C 292.2392320977813,424.6841503919224 318.31714779175917,450.25541574142613 352,447 C 385.68285220824083,443.74458425857387 426.97064093074454,411.66248742621804 468,419 C 509.02935906925546,426.33751257378196 549.8002884852626,473.09463455370195 596,466 C 642.1997115147374,458.90536544629805 693.8282051282051,397.95897435897433 737,389 C 780.1717948717949,380.04102564102567 814.8868910019168,423.0694680104007 846,435 C 877.1131089980832,446.9305319895993 904.6242308641274,427.76315359942305 947,427 C 989.3757691358726,426.23684640057695 1046.6161855415742,443.87791759190725 1093,437 C 1139.3838144584258,430.12208240809275 1174.911026969576,398.725176032948 1207,388 C 1239.088973030424,377.274823967052 1267.739706580121,387.2213782763006 1306,396 C 1344.260293419879,404.7786217236994 1392.1301467099395,412.3893108618497 1440,420 C 1440,420 1440,700 1440,700 Z");
    }
  }

  .path-3{
    animation:pathAnim-3 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-3{
    0%{
      d: path("M 0,700 C 0,700 0,560 0,560 C 49.50674998576552,560.1938393213004 99.01349997153105,560.3876786426009 139,547 C 178.98650002846895,533.6123213573991 209.45275009964132,506.64312475089685 247,526 C 284.5472499003587,545.3568752491032 329.17549962990375,611.0398223538119 367,609 C 404.82450037009625,606.9601776461881 435.84525138074355,537.1975858338553 469,509 C 502.15474861925645,480.80241416614473 537.4434948471219,494.169834310767 585,519 C 632.5565051528781,543.830165689233 692.3807692307691,580.123076923077 742,574 C 791.6192307692309,567.876923076923 831.0334282298014,519.3378579969253 860,512 C 888.9665717701986,504.66214200307473 907.4855178500255,538.5254910892216 945,561 C 982.5144821499745,583.4745089107784 1039.0245003700961,594.560177646188 1084,593 C 1128.9754996299039,591.439822353812 1162.4164806695894,577.2337983260263 1197,558 C 1231.5835193304106,538.7662016739737 1267.309576951546,514.5046290497068 1308,514 C 1348.690423048454,513.4953709502932 1394.3452115242271,536.7476854751467 1440,560 C 1440,560 1440,700 1440,700 Z");
    }
    25%{
      d: path("M 0,700 C 0,700 0,560 0,560 C 32.985189508246506,577.1936229573535 65.97037901649301,594.387245914707 107,585 C 148.029620983507,575.612754085293 197.1036734422745,539.6446392985254 238,534 C 278.8963265577255,528.3553607014746 311.6149272144091,553.0341968911916 349,575 C 386.3850727855909,596.9658031088084 428.43661770008924,616.2185731367078 469,608 C 509.56338229991076,599.7814268632922 548.6386019852341,564.0915105619769 593,545 C 637.3613980147659,525.9084894380231 687.0089743589743,523.4153846153846 727,539 C 766.9910256410257,554.5846153846154 797.3255005788685,588.2469509764846 836,598 C 874.6744994211315,607.7530490235154 921.689023325552,593.5968114786767 966,596 C 1010.310976674448,598.4031885213233 1051.918406118924,617.3658031088082 1092,605 C 1132.081593881076,592.6341968911918 1170.6373521987512,548.9399760860902 1211,541 C 1251.3626478012488,533.0600239139098 1293.5321850860712,560.8742925468314 1332,570 C 1370.4678149139288,579.1257074531686 1405.2339074569645,569.5628537265843 1440,560 C 1440,560 1440,700 1440,700 Z");
    }
    50%{
      d: path("M 0,700 C 0,700 0,560 0,560 C 42.343072557839406,559.7093406593407 84.68614511567881,559.4186813186814 130,565 C 175.3138548843212,570.5813186813186 223.5984920951242,582.0346153846154 261,588 C 298.4015079048758,593.9653846153846 324.91988650382433,594.4428571428572 359,599 C 393.08011349617567,603.5571428571428 434.72196188957844,612.1939560439561 473,590 C 511.27803811042156,567.8060439560439 546.1922659378619,514.7813186813187 587,507 C 627.8077340621381,499.2186813186813 674.5089743589743,536.6807692307692 715,548 C 755.4910256410257,559.3192307692308 789.7718366262408,544.4956043956045 832,551 C 874.2281633737592,557.5043956043955 924.4036791360625,585.3368131868132 967,595 C 1009.5963208639375,604.6631868131868 1044.6134468295093,596.1571428571428 1084,574 C 1123.3865531704907,551.8428571428572 1167.1425335459012,516.0346153846153 1205,527 C 1242.8574664540988,537.9653846153847 1274.8164189868853,595.7043956043956 1313,609 C 1351.1835810131147,622.2956043956044 1395.5917905065573,591.1478021978022 1440,560 C 1440,560 1440,700 1440,700 Z");
    }
    75%{
      d: path("M 0,700 C 0,700 0,560 0,560 C 43.11012735106,569.7448746417658 86.22025470212,579.4897492835316 128,579 C 169.77974529788,578.5102507164684 210.22910854258004,567.7858775076392 251,573 C 291.77089145741996,578.2141224923608 332.8633111275598,599.3667406859116 374,589 C 415.1366888724402,578.6332593140884 456.3176469471806,536.7471597487142 494,523 C 531.6823530528194,509.2528402512858 565.8661010837176,523.6446203192316 601,540 C 636.1338989162824,556.3553796807684 672.2179487179487,574.674358974359 707,577 C 741.7820512820513,579.325641025641 775.2621040444875,565.6579437833325 818,568 C 860.7378959555125,570.3420562166675 912.7336351041015,588.6938658923115 957,598 C 1001.2663648958985,607.3061341076885 1037.8033555391069,607.5665926474217 1079,598 C 1120.1966444608931,588.4334073525783 1166.052942739471,569.0397635180018 1208,568 C 1249.947057260529,566.9602364819982 1287.9848735030082,584.274353280571 1326,586 C 1364.0151264969918,587.725646719429 1402.007563248496,573.8628233597145 1440,560 C 1440,560 1440,700 1440,700 Z");
    }
    100%{
      d: path("M 0,700 C 0,700 0,560 0,560 C 49.50674998576552,560.1938393213004 99.01349997153105,560.3876786426009 139,547 C 178.98650002846895,533.6123213573991 209.45275009964132,506.64312475089685 247,526 C 284.5472499003587,545.3568752491032 329.17549962990375,611.0398223538119 367,609 C 404.82450037009625,606.9601776461881 435.84525138074355,537.1975858338553 469,509 C 502.15474861925645,480.80241416614473 537.4434948471219,494.169834310767 585,519 C 632.5565051528781,543.830165689233 692.3807692307691,580.123076923077 742,574 C 791.6192307692309,567.876923076923 831.0334282298014,519.3378579969253 860,512 C 888.9665717701986,504.66214200307473 907.4855178500255,538.5254910892216 945,561 C 982.5144821499745,583.4745089107784 1039.0245003700961,594.560177646188 1084,593 C 1128.9754996299039,591.439822353812 1162.4164806695894,577.2337983260263 1197,558 C 1231.5835193304106,538.7662016739737 1267.309576951546,514.5046290497068 1308,514 C 1348.690423048454,513.4953709502932 1394.3452115242271,536.7476854751467 1440,560 C 1440,560 1440,700 1440,700 Z");
    }
  }

}
